@import "../scss/nullstyle";
@import "../scss/variables";

%title{
    font-size: 18px;
    letter-spacing: 4px;
    color: #353738;
    font-weight: $fontbold;
    text-align: center;
    text-transform: uppercase;
}

%text{
    font-size: 18px;
    line-height: 34px;
    color: #848789;
    font-weight: $fontregular;
    text-align: center;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 535px;
    margin: 0 auto;
}

.intro{
    background: url("../img/backgr.png") no-repeat center/cover;
    height: 800px;
    overflow: hidden;
}

.header{
    width: 655px;
    display: flex;
    margin: 0 auto;

        &_burger{
            display: none;
        }

    @media (max-width:$md) {
        &__burger{
            margin: 40px 0px 0px 0px;
            display: block;
            width: 40px;
            height: 30px;
            position: relative;
                & span{
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    position: absolute;
                    top: 14px;
                }
        }
        &__burger:before,
        &__burger:after{
                content: "";
                position: absolute;
                width: 100%;
                background-color: #000;
                height: 2px;
            }
    
            &__burger::before{
                top: 0;
            }
    
            &__burger:after{
                bottom: 0;
            }
            .navigation{
                display: none;
            }
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px 0px 0px 0px;
    position: relative ;
        &__link{
            margin-right:75px;
            font-size: 13px;
            letter-spacing: 3px;
            color: #4d4959;
            font-weight: $fontbold;
            text-transform: uppercase;
        }
        &__link:last-child{
            margin: 0px;
        }
        &__link:nth-child(2){
            margin-right: 65px;
        }
        &__logo{
            margin-right:65px ;
        }

}

.generation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $bcc;
    height: 470px;
    padding: 118px 0px 145px 0px;
        &__title{
            @extend %title;
        }
        &__text{
            @extend %text;
            padding: 0px 242px 0px 283px;
        }
        @media (max-width:$xl) {
            padding: 80px 0px;
            &__icon{
                margin-bottom:30px;
            }
            &__title{
                margin-bottom: 20px;
            }
        }
        @media (max-width:$md) {
                padding: 40px 20px 0px 20px;
                &__text{
                    padding: 0px;
                }
        }
        @media (max-width:$lg) {
            padding: 80px 0px;
                &__text{
                    padding: 0px 100px;
                }
        }
        @media (max-width:$sm) {
            padding: 40px 0px;
        }

        @media (max-width:$xs)  {
            padding: 20px 0px;
                &__text{
                    padding: 0px;
                }
        }
}

.brands{
        &__row{
            display: flex;
        }
        &__column{
            display: flex;
            width: 33.3333%;
        }
        &__first-photo {
            width: 66.6667%;
            position: relative;
                & img{
                    width: 100%;
                }
                &-hover{
                    opacity: 0;
                    transition-duration: 0.4s;
                    transition-property: opacity;
                        &:hover{
                            opacity: 1;
                            transition-duration: 0.4s;
                            transition-property: opacity;
                        }
                }
        }
            &__logo{
                position: absolute;
                z-index: 1;
                top:40%;
                left: 47%;
            }
            &__bc{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(100,194,158,0.8);
                opacity: 0.7;
        }
        &__second-photo{
            padding: 29.5px 0px 0px 0px;
            & img{
                width: 100%
            }
        }
        &__icon{
            margin-top: 70px;
            margin-bottom: 32px;
            text-align: center;
        }
        &__title{
            @extend %title;
            margin: 0px 0px 25px 0px;
        }
        &__text{
            @extend %text;
            text-align: justify;
            margin: 0px 0px 100px 0px;
            padding: 0px 67px;
            position: relative;
                &::after{
                    content:"";
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    background-color: rgba(53,55,56,0.2);
                    margin: 14% 0px 0px 0px;
                }
        } 
    @media (max-width:$xl){
        &__row{
            flex-direction: column;
        }
        &__column{
            width: 100%;
        }
        &__first-photo{
            order: -1;
            width: 100%;
        }
        &__second-photo{
            padding: 0px;
        }
    }
    @media (max-width:$xxl) {
        &__first-photo{
            order: -1;
        }
        &__second-photo{
            margin: -2px 0px 0px 0px;
        }
        &__icon{
            margin-top: 7px;
            margin-bottom: 32px;
        }
        &__text{
            margin: 0px;
        }
        &__second-photo{
            padding: 0px;
        }
    }
    @media (max-width:$sm) {
        &__logo{
            top: 35%;
            left: 43%;
        }
    }
    @media (max-width:$md){
        .logo{
            top: 28%;
            left: 37%;
        }
    }
    @media (max-width:$xs) {
        .logo{
            top: 25%;
            left: 34%;
        }
        &__logo{
            top: 30%;
            left: 40%;
        }
    }
}

.brands-2{
        &__row{
            display: flex;
        }
        &__photo{
            width: 33.3333%;
            position: relative;
                & img{
                    width: 100%;
                    height: 100%;
                }
                &-hover{
                    opacity: 0;
                    transition-duration: 0.4s;
                    transition-property: opacity;
                        &:hover{
                            opacity: 1;
                            transition-duration: 0.4s;
                            transition-property: opacity;
                        }
                }
        }
        &__logo{
            position: absolute;
            z-index: 1;
            top:45%;
            left: 35%;
        }
        &__bc{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(100,194,158,0.8);
            opacity: 0.7;
        }
        &__column{
            width: 33.3333%;
            display: flex;
            flex-direction: column;
                &-photo img{
                    width: 100%;
                    padding: 34px 0px 0px 0px;
                }
        }
        &__item{
            padding: 58px 0px 0px 0px ;
        }
        &__icon{
            text-align: center;
            margin:0px 0px 24px 0px; 
        }
        &__title{
            @extend %title;
            margin:0px 0px 26px 0px; 
        }
        &__text{
            @extend %text;
            margin-bottom:106px;
            padding: 0px 68px;
            text-align: justify;
            position: relative;
                &::after{
                    content:"";
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    background-color: rgba(53,55,56,0.2);
                    margin: 14% 30% 0px 0px;
                }
        }
    @media (max-width:$xxl) {
        &__photo{
            height: 100%;
        }
        &__logo{
            top:45%;
            left: 27%;
        }
        &__item{
            padding: 0px 0px ;
        }
        &__icon{
            margin: 5px 0px 10px 0px;
        }
        &__text{
            margin: 0px;
                &:after{
                    display: none;
                }
        }
        &__column-photo img{
            padding: 12.5px 0px 0px 0px;
        }
    }
    @media (max-width:$xl) {
         &__text{
            padding: 0px;
        }
        &__column-photo img{
            padding: 0px 0px 0px 0px;
            margin: -3px 0px 0px 0px;
        }
    }
    @media (max-width:$lg) {
        &__row{
            flex-wrap: wrap;
        }
        &__photo{
            width: 100%;
            height: 100%;
                &:nth-child(1){
                    order: -1;
                }
        }
        &__logo{
            top:50%;
            left:40%;
        }
        &__column{
            width: 100%;
        }
        &__text{
            padding: 0px 10px;
        }
    }
    @media (max-width:$md){
        left: 5%;
        top:10%;
    }
    @media (max-width:$sm) {
        &__logo{
            top: 50%;
            left: 33%;
        }
        &__text{
            padding: 10px;
        }
    }
    @media (max-width:$xs) {
        &__logo{
            top: 45%;
            left: 31%;
        }
    }
}

.twitter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 125px 0px 190px 0px;
    background-color:$bcc;
    height: 470px;
        &__logo{
            margin: 0px 0px 38px 0px;
        }
        &__title{
            @extend %title;
            text-transform:none;
            margin: 0px 0px 27px 0px;
                & span{
                    font-weight: 400;
                    color: #8b838f;
                    word-spacing: 2px;
                }
                & .slash{
                    margin: 0px 18px;
                }
        }
        &__text{
            @extend %text;
            text-align: center;
            font-style: italic;
            font-size: 24px;
            padding: 0px 250px 0px 287px;
        }
        @media (max-width:$lg) {
            &__text{
                padding: 0px 100px;
            }
        }
        @media (max-width:$md){
            &__text{
                padding: 0px 50px;
            }
        }
        @media (max-width:$sm) {
            &__text{
                padding: 0px 25px;
            }
        }
}

.shop{
        &__row{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
        }
        &__column{
            display: flex;
            width: 33.3333%;
            flex-direction:column;
        }
        &__row-center{
            display: flex;
            width: 33.3333%;
        }
        &__column-row{
            display: flex;
            flex-direction: row;
        }
        &__photo-hover{
            opacity: 0;
            transition-duration: 0.4s;
            transition-property: opacity;
                &:hover{
                    opacity: 1;
                    transition-duration: 0.4s;
                    transition-property: opacity;
                }
        }
        &__photo-logo{
            position: absolute;
            z-index: 1;
            top: 42%;
            left: 35%;
        }
        &__photo-logo-wide{
            position: absolute;
            z-index: 1;
            top: 40%;
            left: 42%;
        }
        &__photo-logo-long{
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 35%;
        }
        &__photo-bc{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(100,194,158,0.8);
            opacity: 0.7;
        }
        &__photo-small{
            position: relative;
            width: 50%;
            & img{
                width: 100%;
                height: 100%;
            }
        }
        &__photo-wide{
            position: relative;
            width: 100%;
                & img{
                    width: 100%;
                    height: 100%;
                }
        }
        &__photo-long{
            position: relative;
            width: 50%;
            & img{
                width: 100%;
                height: 100%;
            }
        }
    @media (max-width:$xxl) {
        &__photo-logo,&__photo-logo-long{
            left: 30%;
        }
        &__photo-logo-wide{
            left: 40%;
        }
    }
    @media (max-width:$xl) {
        &__column,&__row-center,&__column-row{
            width: 100%;
        }
        &__photo-logo{
            width: 35%;
            left: 33%;
        }
        &__photo-logo-wide{
            width: 20%;
        }
        &__photo-logo-long{
            width: 40%;
        }
    }
}

.discover{
    height: 200px;
    background-color: #282f35;
    padding: 75px 0px;
        &__button{
            margin: 0 auto;
            width: 300px;
            height: 50px;
        }
        &__button a{
            display: inline-block;
            color: #fff;
            text-align: center;
            padding: 18px 53px;
            font-size: 14px;
            letter-spacing: 3px;
            font-weight: $fontbold;
            text-transform: uppercase;
            border: 1px solid rgba(255,255,255,0.5);
            transition-duration: 0.5s;
            transition-property: background-color,color ;
                &:hover{
                    transition-duration: 0.5s;
                    transition-property: background-color,color;
                    color:#282f35;
                    background-color: #fff;
                }
        }
}

.mail{
    height: 470px;
    padding: 110px 0px;
        &__form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__logo{
            margin: 0px 0px 38px 0px;
        }
        &__title{
            font-size: 24px;
            line-height: 34px;
            color: #848789;
            font-weight: $fontregular;
            font-style: italic;
            text-align: center;
            margin: 0px 0px 36px 0px;
        }
        & form{
            display: flex;
        }
        &__input{
            width: 400px;
            height: 69px;
            background-color: #fff;
            border: 1px solid #d3d7d9;
            font-size: 20px;
            color: #929292;
            font-weight: $fontregular;
            font-style: italic;
            text-align: left;
            margin: 0px 8px 0px 0px;
            padding: 0px 0px 0px 26px;
            transition-duration: 0.4s;
            transition-property:box-shadow ;
                &:focus{
                    transition-duration: 0.2s;
                    transition-property:box-shadow ;
                    box-shadow: 3px 3px 15px #000;
                }
        }
        &__button{
            width: 126px;
            height: 69px;
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            background-color: #64c29e;
            transition-duration: 0.5s;
            transition-property:background-color ;
                &:hover{
                    transition-duration: 0.5s;
                    transition-property:background-color ;
                    background-color: #0e8557;
                }
        }
    @media (max-width:$xxl) {
        &__input{
            font-size: 24px;
        }    
    }
    @media (max-width:$xs) {
        &__input{
            width: 250px;
        }
        &__button{
            width: 60px;
        }
    }
}

.footer{
    background-color: $bcc;
    height: 250px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
        &__copyright{
            display: flex;
            flex-direction: column;
            height: 56px;
                & span{
                    display: block;
                    font-size: 16px;
                    line-height: 18px;
                    color: #848789;
                    font-weight: $fontbold;
                        &:nth-child(2){
                            font-size: 15px;
                            font-style: italic;
                            font-weight: $fontregular;
                        }
                        &:nth-child(3){
                            font-size: 14px;
                            font-style: italic;
                            font-weight: $fontregular;
                        }
                }
        }
        &__social{
            display: flex;
            width: 135px;
            justify-content: space-between;
        }
        &__author{
            display: flex;
            font-size: 14px;
            line-height: 18px;
            color: #848789;
            font-weight: $fontregular;
            text-align: center;
            font-style: italic;
                & span{
                    margin: 0px 10px 0px 0px;
                }
        }
    @media (max-width:$sm) {
        &__copyright,&__social,&__author{
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        &__social{
            justify-content: space-around;
        }
    }
}